@page "/"


<div>
 <img src="img/bubble.png" style="width: 80px;height: 75px;float: right;margin-left: 3%" >
    <p style="font-size:xx-large ; color: grey" > Bubble Wrap Forum</p>
    
    <p style="color: darkred; font-size: large ">*Notice* :This forum is still in the beta phase of development</p>
 <p style="text-align-all: center;color: grey">This forum is a place for people to come together and discuss different matters brought up by other users. As a new community we aim to "Wrap" people from different parts of the world together, just like the bubbles in a bubble wrap.</p>
 
 <p style="color:grey">Please use the top-right button to log in or register if you are not a member of the community already!</p>

</div>