@using Blazor.Services
@using Microsoft.AspNetCore.Components
@inject IAuthService authService
@inject NavigationManager navMgr


<h3>Posts</h3>

<AuthorizeView>
      <div class="post">
            <h2 class="post-title">Post Title</h2>
            <div class="post-content">
                <p>Post content</p>
            </div>
        </div>
</AuthorizeView>

@code {
    
}