<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="img/reddit-logo.png" width="40"/><span style="vertical-align: middle"> Reddit</span></a>
        <button class="navbar-toggler" @onclick="@(() => showNavbar = !showNavbar)">
            <RadzenIcon Icon="menu" />
        </button>
        <div class="collapse navbar-collapse @((showNavbar)? "show" : "")" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="test" class="nav-link">
                        Create Post
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="s" class="nav-link">
                        SubPage
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    bool showNavbar = false;
}
